.settings.active {
  left: 0%;
}

.settings {
  transition: 1s ease;
  position: absolute;
  top: 100px;
  left: -20%;
  z-index: 99;
  position: fixed;
}
.settings .blue {
  border-bottom-right-radius: 25px;
  color: white;
  width: 370px;
  background: #01b7f2;
  display: flex;
  justify-content: space-between;
}
.settings .blue h3 {
  font-size: 1.3rem;
}
.settings .blue i {
  color: rgba(255, 255, 255, 0.795);
  cursor: pointer;
  font-size: 1.7rem;
}
.settings .blue i:hover {
  color: white;
}
.settings .gray {
  width: 300px;
  background: #2d3e52;
}
.settings .gray button {
  background: #98ce44;
  border: none;
  color: white;
  padding: 8px 20px;
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
}
.settings .gray ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.settings .gray ul li {
  padding-top: 7px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid;
  width: 42px;
  height: 41px;
}
.settings .gray ul li a {
  width: 32px;
  border-radius: 100%;
  padding: 6px 8px;
}
.settings .gray ul li a i {
  color: white;
}
.settings .gray p {
  font-size: 0.6rem;
  color: #7c9abd;
  margin: 0;
}
.settings .gray select {
  margin: 10px 0;
  width: 100%;
  padding: 5px;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
  background: white;
}
header #altmenu {
  padding: 0 10px;
  font-family: "Lato", sans-serif;
  list-style: none;
  background: #01b7f2;
}
header #altmenu li {
  transition: all 0.3s ease;
  font-weight: 700;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #0489b6;
  color: #caf2ff;
  cursor: pointer;
}
header #altmenu li #alt-ul {
  padding: 0 20px;
}
header #altmenu li #alt-ul li {
  color: #caf2ff;
  padding: 5px 0;
}
header #altmenu li #alt-ul li:hover {
  color: white;
}
header #altmenu li:hover {
  color: white;
}
header #altmenu li #plus {
  position: absolute;
  right: 0;
}
header .top-nav {
  width: 100%;
  height: 30px;
  background: #01b7f2;
}
header .top-nav .container {
  justify-content: space-between;
}
header .top-nav .container ul#left {
  height: 30px;
  padding-left: 0;
  list-style-type: none !important;
}
header .top-nav .container ul#left #english:hover #lang {
  visibility: visible;
  opacity: 1;
}
header .top-nav .container ul#left #english #lang {
  position: relative;
  list-style-type: none;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 2px;
  margin-top: 4px;
  border: 1.5px solid #01b7f2;
  background: #ffff;
}
header .top-nav .container ul#left #english #lang li.active {
  font-weight: 500;
  color: #01b7f2;
  background: #f5f5f5;
}
header .top-nav .container ul#left #english #lang li {
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  padding-right: 40px;
}
header .top-nav .container ul#left #english #lang li:hover {
  font-weight: 500;
  color: #01b7f2;
  background: #f5f5f5;
}
header .top-nav .container ul#left li {
  font-size: 0.7rem;
}
header .top-nav .container ul#left li a {
  color: white;
}
header .top-nav .container ul#right {
  list-style-type: none !important;
}
header .top-nav .container ul#right li.usd {
  height: 30px;
}
header .top-nav .container ul#right li.usd:hover ul#money {
  visibility: visible;
  height: auto;
  opacity: 1;
}
header .top-nav .container ul#right li.usd ul#money {
  position: relative;
  list-style-type: none;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 0.3s ease;
  padding: 2px;
  margin-top: 4px;
  border: 1.5px solid #01b7f2;
  background: #ffff;
}
header .top-nav .container ul#right li.usd ul#money li.active {
  font-weight: 500;
  color: #01b7f2;
  background: #f5f5f5;
}
header .top-nav .container ul#right li.usd ul#money li {
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  padding-right: 40px;
}
header .top-nav .container ul#right li.usd ul#money li:hover {
  font-weight: 500;
  color: #01b7f2;
  background: #f5f5f5;
}
header .top-nav .container ul#right li.first {
  transition: 0.3s ease;
  font-weight: bold;
  background: #fdb714;
  height: 30px;
}
header .top-nav .container ul#right li.first:hover {
  background: #da9712;
}
header .top-nav .container ul#right li {
  font-size: 0.7rem;
}
header .top-nav .container ul#right li a {
  color: white;
}
header .travelo {
  position: relative;
  height: 70px;
}
header .travelo .menu-bar {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0;
  background: #01b7f2;
}
header .travelo .menu-bar span {
  color: white;
  font-size: 2rem;
}
header .travelo #mainmenu {
  height: 70px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
header .travelo .row {
  display: flex;
  justify-content: space-between;
}
header .travelo .row #logo {
  width: 156px;
  height: 30px;
}
header .travelo .row #menu {
  list-style: none;
}
header .travelo .row #menu li {
  height: 30px;
  padding-right: 30px;
  transition: all 0.5s ease;
  color: gray;
  font-weight: 700;
  font-size: 0.78rem;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
header .travelo .row #menu li #alt-ul {
  padding: 0;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 999;
  background: #01b7f2;
  margin-top: 20px;
  list-style: none;
}
header .travelo .row #menu li #alt-ul #innerli {
  color: white;
  height: auto;
  padding: 10px 20px;
  border-bottom: 1px solid #0b80a0;
}
header .travelo .row #menu li #alt-ul #innerli:hover {
  color: white;
  background: #067492;
}
header .travelo .row #menu li:hover {
  color: #01b7f2;
}
header .travelo .row #menu li:hover #alt-ul {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 1200px) {
  #altmenu {
    display: none;
  }
}
@media (max-width: 1508px) {
  .settings {
    display: none;
  }
}
@media (max-width: 1200px) {
  .settings {
    display: none;
  }

  .travelo .menu-bar {
    display: block !important;
  }

  #mainmenu {
    display: none !important;
  }

  .top-nav {
    display: none;
  }
}
#slider .window {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 650px;
}
#slider .window #left {
  cursor: pointer;
  font-size: 3rem;
  color: white !important;
  position: absolute;
  top: 50%;
  left: 3%;
  z-index: 5;
}
#slider .window #right {
  cursor: pointer;
  font-size: 3rem;
  color: white !important;
  position: absolute;
  top: 50%;
  right: 3%;
  z-index: 5;
}
#slider .window #lenta {
  list-style: none;
  position: absolute;
  left: 0;
  transition: 0.5s ease-in-out;
  width: 400vw;
  height: 650px;
  padding: 0;
  display: flex;
}
#slider .window #lenta li {
  width: 100%;
}
#slider .window #lenta li img {
  width: 100%;
  height: 100%;
}

#under-slider {
  position: relative;
}
#under-slider .hiddenrow {
  height: 40px;
  padding: 5px;
  top: -40px;
  position: absolute;
  background: white;
  width: 100%;
  position: relative;
}
#under-slider .hiddenrow .left {
  cursor: pointer;
  position: absolute;
  left: 1%;
  background: #01b7f2;
  color: white;
  font-size: 1.5rem;
}
#under-slider .hiddenrow .right {
  cursor: pointer;
  position: absolute;
  right: 1%;
  background: #01b7f2;
  color: white;
  font-size: 1.5rem;
}
#under-slider #search {
  position: absolute;
  top: -40px;
  list-style: none;
  display: flex;
}
#under-slider #search li.active {
  opacity: 1;
  color: #01b7f2;
  background: white;
}
#under-slider #search li.active:hover {
  opacity: 1;
}
#under-slider #search li {
  transition: all 0.3s ease;
  opacity: 0.5;
  font-size: 0.88rem;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  background: #ababab;
}
#under-slider #search li:hover {
  opacity: 0.7;
}
#under-slider h4 {
  font-size: 1.1rem;
}
#under-slider p {
  font-weight: 600;
  font-size: 0.7rem;
}

@media (min-width: 991px) {
  #under-slider .hiddenrow {
    display: none !important;
  }
}
@media (max-width: 991px) {
  #under-slider #search {
    display: none;
  }
}
#destinations {
  padding: 100px 0;
  background-color: #dddddd;
}
#destinations .row {
  overflow: hidden;
}
#destinations .row .arrows .left {
  cursor: pointer;
  height: 30px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #01b7f2;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
#destinations .row .arrows .right {
  cursor: pointer;
  height: 30px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 0 10px;
  background: #01b7f2;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
#destinations .row .window {
  transition: 0.5s ease;
  position: relative;
  display: flex;
  width: 3000px;
  left: 0;
}
#destinations .col-12 {
  padding: 0;
  position: relative;
  overflow: hidden;
}
#destinations .col-12 .mainbox {
  background: white;
}
#destinations .col-12 .money {
  color: green;
}
#destinations .col-12 .box {
  height: 169px;
  overflow: hidden;
}
#destinations .col-12 .box:hover .hover {
  opacity: 0.5;
  transform: scale(1);
  transform: rotateY(180deg);
}
#destinations .col-12 .box:hover img {
  transform: scale(1.1);
}
#destinations .col-12 .hover {
  color: white;
  font-size: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease;
  z-index: 2;
  transform: scale(0.5);
  opacity: 0;
  position: absolute;
  background: #01b7f2;
  width: 100%;
  height: 169px;
}
#destinations .col-12 img {
  height: 100%;
  width: 100%;
  transform: scale(1);
  cursor: pointer;
  transition: 0.3s ease;
}

#popular {
  background-image: url("../img/global-map.jpg");
}
#popular .col-12 img {
  height: 500px;
  width: 100%;
}
#popular .img-row .col-12 {
  overflow: hidden;
  padding: 0;
}
#popular .img-row .col-12 .imgbox {
  width: 100%;
  height: 180px;
  overflow: hidden;
}
#popular .img-row .col-12 .box2 {
  background: white;
}
#popular .img-row .col-12 .box2 button {
  transition: 0.3s ease;
  color: white;
  font-size: 0.5rem;
  font-weight: 600;
  width: 60px;
  height: 20px;
  border: none;
  margin: 10px 0;
  background: lightgray;
}
#popular .img-row .col-12 .box2 button:hover {
  background: #bada06;
}
#popular .img-row .col-12 .box2 small {
  color: gray;
  font-size: 0.7rem;
}
#popular .img-row .col-12 .box2 p {
  font-size: 1rem;
  color: black;
  margin-top: 10px;
  margin: 0;
}
#popular .img-row .col-12 .hover {
  transition: all 0.7s ease;
  color: white;
  font-size: 4rem;
  position: absolute;
  transform: scale(0.3);
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 180px;
  background: yellow;
  justify-content: center;
  display: flex;
  align-items: center;
}
#popular .img-row .col-12 a img {
  transition: 0.5s ease;
}
#popular .img-row .col-12 a:hover img {
  transform: scale(1.1);
}
#popular .img-row .col-12 a:hover .hover {
  opacity: 0.5;
  transform: scale(1);
  transform: rotateY(180deg);
}
#popular .img-row .col-12 a img {
  object-fit: cover;
  width: 100%;
  height: 180px;
}
#popular .col-12 .headers h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#popular .col-12 p {
  color: #7c9abd;
  font-size: 0.9rem;
}

#did-you-know {
  background: #dddddd;
}
#did-you-know .row .col-12 {
  padding: 0;
}
#did-you-know .row .col-12 .box {
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  background: #fff;
}
#did-you-know .row .col-12 .box .imgbox img {
  height: 207px;
}
#did-you-know .row .col-12 .box .details {
  padding: 15px;
}
#did-you-know .row .col-12 .box .details button {
  transition: 0.3s ease;
  color: white;
  font-size: 0.6rem;
  font-weight: 600;
  width: 60px;
  height: 20px;
  border: none;
  margin: 10px 0;
  background: lightgray;
}
#did-you-know .row .col-12 .box .details button:hover {
  background: #bada06;
}
#did-you-know .row .col-12 .box .details h4 {
  font-size: 1.1rem;
}
#did-you-know .row .col-12 .box .details p {
  font-size: 0.9rem;
}
#did-you-know .row p {
  color: #575656;
  margin: 15px auto;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  #did-you-know .box {
    display: block !important;
  }
}
#feature {
  background-image: url("../img/global-map.jpg");
}
#feature .col-6 {
  padding: 0;
}
#feature .col-6 .details {
  width: 100%;
  background: #fff;
  padding: 15px 10px;
}
#feature .col-6 .details h4 {
  cursor: pointer;
  font-size: 1.1rem;
}
#feature .col-6 .details h4:hover {
  color: #01b7f2;
}
#feature .col-6 .details p {
  font-size: 0.9rem;
}
#feature .col-6 .imgbox {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
}
#feature .col-6 .imgbox:hover img {
  transform: scale(1.2);
}
#feature .col-6 .imgbox:hover .hover {
  opacity: 0;
}
#feature .col-6 .imgbox .hover {
  transition: 0.3s ease;
  width: 100%;
  height: 80px;
  background: #ffd000;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}
#feature .col-6 .imgbox img {
  transition: 0.5s ease;
  position: absolute;
  top: -25px;
}

#footer .col-12 {
  padding: 0;
}
#footer .col-12 .box {
  padding: 10px;
}
#footer .col-12 .box .iconbox {
  box-sizing: border-box;
}
#footer .col-12 .box #icons {
  padding: 10px 0;
  list-style: none;
  display: flex;
}
#footer .col-12 .box #icons li {
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
  background: #cfcece;
  padding: 5px 10px;
  margin-right: 7px;
}
#footer .col-12 .box #icons li:hover {
  color: white;
  background: #01b7f2;
}
#footer .col-12 .box .check {
  width: 100%;
}
#footer .col-12 .box .check input {
  padding: 5px;
}
#footer .col-12 .box .check button {
  color: white;
  padding: 7px 10px;
  border: none;
  background: green;
}
#footer .col-12 .box .check button:hover {
  background: #05ce05;
}
#footer .col-12 .box p {
  font-size: 0.8rem;
  color: gray;
}
#footer .col-12 .box .travel {
  display: flex;
}
#footer .col-12 .box .travel .details {
  font-size: 0.9rem;
  margin-left: 10px;
}
#footer .col-12 .box ul {
  padding: 0;
  list-style: none;
}
#footer .col-12 .box ul span {
  padding-bottom: 15px;
  margin: 0 35% 15px;
  font-size: 0.7rem;
}
#footer .col-12 .box .ul-box ul {
  list-style: none;
  padding: 0;
}
#footer .col-12 .box .ul-box ul li {
  color: dimgray;
  word-spacing: 3px;
  margin: 8px 0;
  font-size: 0.85rem;
  cursor: pointer;
}
#footer .col-12 .box .ul-box ul li:hover {
  color: #01b7f2;
}
#footer .col-12 .box h4 {
  font-size: 1.3rem;
  margin: 15px 0;
  display: block !important;
}

#end {
  background: #dddddd;
}
#end p {
  margin: 0;
  font-size: 0.9rem;
}
