$maincolor:#01b7f2;
$mainfont:'Lato', sans-serif;
$bgcolor:rgb(221, 221, 221);


.settings.active{
    left: 0%;
}
.settings{
    
    transition: 1s ease;
        .blue{
            h3{
                font-size: 1.3rem;
            }
            border-bottom-right-radius: 25px;
            color: white;
            width: 370px;
            background: $maincolor;
            display: flex;
            justify-content: space-between;
            i{
                &:hover{
                    color: white;
                }
                color: rgba(255, 255, 255, 0.795);
                cursor: pointer;
                font-size: 1.7rem;
            }
        }
        .gray{
                button{
                    background: #98ce44;
                    border: none;
                    color: white;
                    padding: 8px 20px;
                    width: 100%;
                    font-size: 0.9rem;
                    font-weight: bold;
                }
            ul{
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    a{
                        i{
                            // display: none;
                            color: white;
                        }
                        width: 32px;
                        border-radius: 100%;
                        padding: 6px 8px;
                        
                    }
                    padding-top: 7px;
                    text-align: center;
                    border-radius: 100%;
                    border: 1px solid;
                    width: 42px;
                    height: 41px;
                }
            }
            p{
                font-size: 0.6rem;
                color: #7c9abd;
                margin: 0;
            }
            select{
                margin: 10px 0;
                width: 100%;
                padding: 5px;
            }
            width: 300px;
            background: #2d3e52;
        }
    position: absolute;
    top: 100px;
    left: -20%;
    z-index: 99;
    position: fixed;
}
body{
    font-family: $mainfont;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}


//header start

header{
    background: white;
    #altmenu{
        li{
            #alt-ul{
                padding: 0 20px;
                li{
                    &:hover{
                        color: white;
                    }
                    color: #caf2ff;
                    padding: 5px 0;
                }
            }
            &:hover{
                color: white;
            }
            #plus{
                position: absolute;
                right: 0;
            }
            transition: all 0.3s ease;
            font-weight: 700;
            position: relative;
            padding: 10px;
            border-bottom: 1px solid #0489b6;
            color: #caf2ff;
            cursor: pointer;
        }
        padding: 0 10px;
        font-family: $mainfont;
        list-style: none;
        background: $maincolor;
    }
    .top-nav{

        .container{

                
                ul#left{
                    height: 30px;
                    #english{
                        &:hover{
                            #lang{
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                        #lang{
                            position: relative;
                            list-style-type:none;
                            z-index: 999;
                            opacity: 0;
                            visibility: hidden;
                            transition:all 0.3s ease;
                            li.active{
                                font-weight: 500;
                                color: $maincolor;
                                background: #f5f5f5;
                            }
                            li{
                                &:hover{
                                    font-weight: 500;
                                    color: $maincolor;
                                    background: #f5f5f5;
                                }
                                border-bottom: 1px solid #f5f5f5;
                                cursor: pointer;
                                padding: 10px;
                                padding-left: 20px;
                                padding-right: 40px;
                            }
                            padding: 2px;
                            margin-top: 4px;
                            border: 1.5px solid $maincolor;
                            background: #ffff;
                        }
                    }
                    li{
                        a{
                            color: white;
                        }
                        font-size: 0.7rem;
                    }
                    padding-left: 0;
                    list-style-type: none!important;
                }

                ul#right{
                    li.usd{
                        height: 30px;
                        &:hover{
                            ul#money{
                                visibility: visible;
                                height: auto;
                                opacity: 1;
                            }
                        }
                        ul#money{
                            position: relative;
                            li.active{
                                font-weight: 500;
                                color: $maincolor;
                                background: #f5f5f5;
                            }
                            li{
                                &:hover{
                                    font-weight: 500;
                                    color: $maincolor;
                                    background: #f5f5f5;
                                }
                                border-bottom: 1px solid #f5f5f5;
                                cursor: pointer;
                                padding: 10px;
                                padding-left: 20px;
                                padding-right: 40px;
                            }
                            list-style-type:none;
                            z-index: 999;
                            opacity: 0;
                            visibility: hidden;
                            height: 0;
                            transition:all 0.3s ease;
                            padding: 2px;
                            margin-top: 4px;
                            border: 1.5px solid $maincolor;
                            background: #ffff;
                        }
                    }
                    li.first{
                        &:hover{
                            background: #da9712
                        }
                        transition: 0.3s ease;
                        font-weight: bold;
                        background: #fdb714;
                        height: 30px;
                    }
                    li{
                        a{
                            color: white;
                        }
                        font-size: 0.7rem;
                    }
                    list-style-type: none!important;
                }
            justify-content: space-between;
        }
        width: 100%;
        height: 30px;
        background: $maincolor;
    }
    .travelo{
        position: relative;
        .menu-bar{
            display: none;
            cursor: pointer;
            position: absolute;
            top: 5px;;
            right: 0;
            background: $maincolor;
            span{
                color: white;
                font-size: 2rem;
            }
        }
        height: 70px;
        #mainmenu{
            height: 70px;
            margin-top: 10px;
            display: flex;
            align-items: center;
        }
       .row{
           #logo{
                   width: 156px;
                   height: 30px;
           }
           display: flex;
           justify-content: space-between;
           #menu{
    
               list-style: none;
               li{
                   #alt-ul{
                       #innerli{
                            &:hover{
                                color: white;
                                background: #067492;
                            }
                            color: white;
                           height: auto;
                           padding: 10px 20px;
                           border-bottom: 1px solid #0b80a0;
                       }
                       padding:0;
                       transition:all 0.3s ease;
                       opacity: 0;
                       visibility: hidden;
                       position: absolute;
                       z-index: 999;
                       background: $maincolor;
                       margin-top: 20px;
                       list-style: none;
                   }
                   height: 30px;
                   &:hover{
                       color: $maincolor;
                       #alt-ul{
                           opacity: 1;
                           visibility: visible;
                       }
                   }
                   
                   padding-right: 30px;
                   transition: all 0.5s ease;
                   color: gray;
                   font-weight: 700;
                   font-size: 0.78rem;
                    font-family: 'Lato', sans-serif;
                   cursor: pointer;
               }
           }
       }
        
    }
}

@media (min-width: 1200px)
{
    
    #altmenu{
        display: none;
    }
}

@media (max-width: 1508px)
{
        .settings{
            display: none;
        }}
@media (max-width: 1200px)
{
        .settings{
            display: none;
        }
    .travelo .menu-bar{
        display: block!important;
    }
    #mainmenu{
        display: none!important;
    }
    .top-nav{
        display: none;
    }

}

//header end


//slider start
#slider{

    .window{
        #left{
            cursor: pointer;
            font-size: 3rem;
            color: white!important;
            position: absolute;
            top: 50%;
            left: 3%;
            z-index: 5;        
        }
        #right{
            cursor: pointer;
            font-size: 3rem;
            color: white!important;
            position: absolute;
            top: 50%;
            right: 3%;
            z-index: 5;
        }
        position: relative;
        overflow: hidden;
        // width: 1519px;
        width: auto;
        height: 650px;
        #lenta{
            li{
                // width: 1519px;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            list-style: none;
            position: absolute;
            left: 0;
            transition: 0.5s ease-in-out;
            // width: 6076px;
            width: 400vw;
            height: 650px;
            padding: 0;
            display: flex;
        }
    }
}
//slider end



#under-slider{
    .hiddenrow{
        height: 40px;
        padding: 5px;
            top: -40px;
            position: absolute;
            background: white;
            width: 100%;
            position: relative;
        .left{
                cursor: pointer;
                position: absolute;
                left: 1%;
              background: $maincolor;
              color: white;
              font-size: 1.5rem;  
        }
        .right{
                cursor: pointer;
                position: absolute;
                right: 1%;
                background: $maincolor;
                color: white;
                font-size: 1.5rem;    
        }
    }

 
    position: relative;
    #search{
        position: absolute;
        top: -40px;
        list-style: none;
        display: flex;
        li.active{
            &:hover{opacity: 1;}
            opacity: 1;
            color: $maincolor;
            background: white;
        }
        li{
            transition: all 0.3s ease;
            &:hover{opacity: 0.7;}
            opacity: 0.5;
            font-size: 0.88rem;
            font-weight: 700;
            cursor: pointer;
            padding: 10px 20px;
            margin-right: 10px;
            background: #ababab;
        }
    }

    h4{
        font-size: 1.1rem;
    }
    p{
        font-weight: 600;
        font-size: 0.7rem;
    }
}

@media (min-width: 991px){
#under-slider{
    .hiddenrow{
        display: none!important;
    }
}
}
@media (max-width: 991px)
{
    #under-slider{
        #search{
            display: none;
        }
    }
}
//slider end


#destinations{
    .row{
        .arrows{
            .left{
                cursor: pointer;
                height: 30px;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
                padding: 0 10px;
                background: $maincolor;
                color: white;
                font-weight: bold;
                  font-size: 2rem;      
            }
            .right{
                cursor: pointer;
                height: 30px;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
                margin-left: 5px;
                padding: 0 10px;
                background: $maincolor;
                color: white;
                font-weight: bold;
                  font-size: 2rem;          
            }
        }
        overflow: hidden;
        .window{
            transition: 0.5s ease;
            position: relative;
            display: flex;
            width: 3000px;
            left: 0;
        }
    }
    .col-12{
        .mainbox{
            background: white;
        }
        .money{
            color: green;
        }
        padding: 0;
        .box{
            height: 169px;
            overflow: hidden;
            &:hover{
                .hover{
                    opacity: 0.5;
                    transform: scale(1);
                    transform: rotateY(180deg);
                }
                img{
                    transform: scale(1.1);
                }
            }
        }
        position: relative;
        .hover{
            color: white;
            font-size: 4rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.8s ease;
            z-index: 2;
            transform: scale(0.5);
            opacity: 0;
            position: absolute;
            background: $maincolor;
            width: 100%;
            height: 169px;
        }
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            transform: scale(1);
            cursor: pointer;
            transition: 0.3s ease;
        }
    }
    padding: 100px 0;
    background-color: rgb(221, 221, 221);
}

#popular{
    .col-12{
        img{
            height: 500px;
            width: 100%;
        }
    }
    .img-row{
        .col-12{
            .imgbox{
                width: 100%;
                height: 180px;
                overflow: hidden;
            }
            .box2{
                button{
                    transition: 0.3s ease;
                    color: white;
                    font-size: 0.5rem;
                    font-weight: 600;
                    width: 60px;
                    height: 20px;
                    border: none;
                    margin: 10px 0;
                    background: lightgray;
                    &:hover{
                        background: rgb(186, 218, 6);
                    }
                }
                background: white;
                small{
                    color: gray;
                    font-size: 0.7rem;
                }
                p{
                    font-size: 1rem;
                    color: black;
                    margin-top: 10px;
                    margin: 0;
                }
            }
            .hover{
                transition: all 0.7s ease;
                color: white;
                font-size: 4rem;
                position: absolute;
                transform: scale(0.3);
                opacity: 0;
                z-index: 2;
                width: 100%;
                height: 180px;
                background: yellow;
                justify-content: center;
                display: flex;
                align-items: center;
            }
            overflow: hidden;
            padding: 0;
            a{
                img{
                    transition: 0.5s ease;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                    .hover{
                        opacity: 0.5;
                        transform: scale(1);
                        transform: rotateY(180deg);
                    }
                }
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 180px;
                }
            }
        }
    }
    .col-12{
        .headers h4{
            color: white;
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 1.5px;
        }
        p{
            color: #7c9abd;
            font-size: 0.9rem;
        }
    }
    background-image: url('../img/global-map.jpg');
}


#did-you-know{
    background: $bgcolor;
    .row{
        .col-12{
            padding: 0;
            .box{
                .imgbox{
                    img{
                        height: 207px;
                    }
                }
                .details{
                    button{
                        transition: 0.3s ease;
                        color: white;
                        font-size: 0.6rem;
                        font-weight: 600;
                        width: 60px;
                        height: 20px;
                        border: none;
                        margin: 10px 0;
                        background: lightgray;
                        &:hover{
                            background: rgb(186, 218, 6);
                        }
                    }
                    h4{
                        font-size: 1.1rem;
                    }
                    p{
                        font-size:  0.9rem;
                    }
                    padding: 15px;
                }
                margin-right: 25px;
                margin-bottom: 25px;
                display: flex;
                background: #fff;
            }
        }
        p{
            color: rgb(87, 86, 86);
            margin: 15px auto;
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 768px){
    #did-you-know{
        .box{
            display: block!important;
        }
    }
}


#feature{
    .col-6{
        .details{
            width: 100%;
            h4{
                &:hover{
                    color: $maincolor;
                }
                cursor: pointer;
                font-size: 1.1rem;
            }
            p{
                font-size: 0.9rem;
            }
            background: #fff;
            padding: 15px 10px;
        }
        .imgbox{
            &:hover{
                img{
                    transform: scale(1.2);
                }
                .hover{
                    opacity: 0;
                }
            }
            .hover{
                transition: 0.3s ease;
                width: 100%;
                height: 80px;
                background: rgb(255, 208, 0);
                opacity: 0.5;
                position: absolute;
                z-index: 2;
            }
            img{
                transition: 0.5s ease;
                position: absolute;
                top: -25px;
            }
            position: relative;
            width: 100%;
            height: 80px;
            overflow: hidden;
        }
        padding: 0;
    }
    background-image: url("../img/global-map.jpg");
}


#footer{
    .col-12{
        .box{
            .iconbox{
                box-sizing: border-box;
            }
            #icons{
                padding: 10px 0;
                li{
                    &:hover{
                        color: white;
                        background: $maincolor;
                    }
                    color: white;
                    transition: 0.3s ease;
                    cursor: pointer;
                    background: rgb(207, 206, 206);
                    padding: 5px 10px;
                    margin-right: 7px;
                }
                list-style: none;
                display: flex;
            }
            .check{
                width: 100%;
                input{
                    padding: 5px;
                }
                button{
                    &:hover{
                       background: rgb(5, 206, 5);
                    }
                    color: white;
                    padding: 7px 10px;
                    border: none;
                    background: green;
                }
            }
            p{
                font-size: 0.8rem;
                color: gray;
            }
            .travel{
                
                .details{
                    font-size: 0.9rem;
                    margin-left: 10px;
                }
                display: flex;
            }
            ul{
                span{
                    padding-bottom: 15px;
                    margin: 0 35% 15px;
                    font-size: 0.7rem;
                }
                
                padding: 0;
                list-style: none;
            }
            .ul-box{
                ul{
                    li{
                        color: rgb(105, 105, 105);
                        word-spacing: 3px;
                        margin: 8px 0;
                        font-size: 0.85rem;
                        cursor: pointer;
                        &:hover{
                            color: $maincolor;
                        }
                    }
                    list-style: none;
                    padding: 0;
                }
            }
            h4{
                font-size: 1.3rem;
                margin: 15px 0;
                display: block!important;
            }
            padding: 10px;
        }
        
        padding: 0;
    }
}

#end{
    p{
        margin: 0;
        font-size: 0.9rem;
    }
    background: $bgcolor;
}